body {
         background-color: #F47B20;
            margin: 0 auto;
            color: white;
            padding-bottom: 80px;
        }



        .logo {}

        .logo img {

            /* width: 40%; */
            /* min-width: 180px;
            max-width: 400px; */
            width: 15vh;
            height: auto;
            padding: 16px 24px;
        }


        .teks {
            font-family: 'Poppins', sans-serif;

            /* font-family: "Poppins";
            font-size: 32px;
            font-family: Poppins; */
            font-weight: 200;
            font-style: Light;
            font-size: 32px;
            padding: 20px;
            line-height: 29px;
            letter-spacing: -2%;

        }

        .teks b {
            font-weight: 550;
            /* bold */
        }

        .kantin {}

        /* CSS FOTO KANTIN  */
        .parent {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 10px;

            overflow-x: auto;
            scroll-behavior: smooth;
        }

        .div1 {
            grid-row: span 1 / span 1;
            padding: 5px 10px 16px 0px;

        }

        .div1 img {
            width: 100%;
            max-width: 280px;
            margin: 0 auto;
            display: block;
            border-radius: 20px;
        }

       .container {
            margin-left: 80px;
            padding: 40px;
            min-height: 100vh;
            border-radius: 30px 0 0 0;
        }

        .top-bar {
            display: flex;
            align-items: center;
            padding: 15px 20px;
        }

        .side-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 80px;
            height: 100vh;
            background: white;
            display: flex;
            flex-direction: column; /* turun ke bawah */
            align-items: center;
            padding-top: 20px;
            gap: 25px;
            box-shadow: 2px 0 8px rgba(0,0,0,0.1);
        }

        .side-nav a {
            padding: 10px;
            font-size: 30px;
            color: #aaa;
            transition: 0.3s;
        }

        .side-nav a:hover {
            color: #F47B20;
        }

        @media (max-width: 768px) {

            .parent {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 40px;
            }

            .div1 {
                width: 85%;
                max-width: 300px;
                padding-bottom: 40px;
            }

            .side-nav {
                position: fixed;
                bottom: 0;
                top: auto;
                width: 100%;
                height: 70px;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 0;
            }

            .top-bar {
                margin-left: 0;
            }
        }   