body {
    background-color:#F47B20;
    margin: 0 auto;
    color: white;
    /* padding-bottom: 0px; */
}


.logo-desktop {
    display: flex;
    padding: 10px 0 0 20px;
}



.logo-desktop img {
    width: auto;
    height: 40px;
    z-index: 1000;
}



.container {

    padding: 20px 0px 0px 20px;
    min-height: auto;
    border-radius: 30px 0 0 0;
}


.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 0px;
    flex-shrink: 0;
    /* border-radius: 0 0 16px 16px; */
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.menu a {
    display: flex;
    align-items: center;
}


.top-nav a {
    padding: 10px;
    font-size: 22px;
    color: #aaa;
    transition: 0.3s;
    text-decoration: none;
}

.top-nav a:hover {
    color: #F47B20;
}

.logo-mobile img {
    width: auto;
    height: 40px;  
    padding: 20px 0 0 20px;
    
}

@media (min-width: 881px) {
  .logo-mobile { display: none; }
  .logo-desktop { display: flex; align-items: center; padding: 10px; }
}

@media (max-width: 880px) {
  
    .logo-desktop { display: none; }
     .logo-mobile { display: flex; align-items: center; width: auto;
    height: 40px; }
    .container {
        margin: 25px;
        padding: 0;
    }

    .top-nav {
        position: fixed;
        align-items: center;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 70px;
        flex-direction: row;
        justify-content: space-evenly;
        /* margin: 0; */
        padding: 0;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
        border-radius: 16px 16px 0 0;
    }

    .menu {
        margin: 0;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .menu a {
        margin: 40px;
    }
    .top-nav span {
        display: none;


    }

}

/* LOGIN */
.role {
    width: 60%;
    margin: 10px auto;
    padding: 12px;
    border-radius: 20px;
    border:none;
    display: block;

}

.role a {
    background-color: white;
    padding: 8px 18px 8px 18px;
    border-radius: 30px;
    margin: 23px;
    text-decoration: none;
    color: black;
    font-size: 21px;
    display: block;
    text-align: center;
}

.card {
    width: 420px;
    background-color: white;
    color: black;
   border-radius: 20px;
   padding: 30px;
   margin: 40px auto;
    justify-content: center;
}
.card h1 {

    font-size: 36px;
}

.card .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 20px 45px 20px 20px;  
}

